body {
    padding-top: 5rem;
    font-size: 14px;
    background-color: #F0F0F0;
    height:700px;
    width: 400px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}


.fullname{
 color: white;
 letter-spacing: 2px;
 margin: 15px 0px;
 font-weight: bold;
 font-size: 24px;
}

img{
 align-content: center;
  margin-left: 90px;
  margin-right: 90px;
  width: 40%;
}

.row{
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top: 1rem;
    height:80%;
    text-align: center;
    display: inline-block;
    background-color: mediumseagreen;
    margin: auto;
    color: white;
}

 
aboutme{
    margin: 10px 10px;
    color: white;
}

.aboutme2{
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 1rem;
    text-align: center;
     display: inline-block;
    margin-top: 10px;
    margin-right: 50px;
    background-color: white;
    margin: auto; 
    height:60%;
    color:grey; 
}

button{
    text-align: center;
     display: inline-block;
    margin-left: 150px;
    margin-bottom:50px;
    border-radius:5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    background-color: #4BCE30;
    width: 100px;
    height: 30px;
    color: white;
    margin:auto;
    padding: 3rem
} 

.follow{
    font-size: 16px;
    font-weight: bold;
    word-spacing: 70px;
    margin-bottom: 5px;
    position: relative
}

.detail{
    margin: 0;
    word-spacing: 35px;
    position: relative

}