{% extends "base.html" %}

{% block main %}

<div class="container">
	<div class="row">
                <div class="photo">
                  <img class="rounded-circle account-img" src="{{url_for('static', filename='girl.jpg')}}"/>
                </div>
				<div class="aboutme">
					<div class="fullname">{{full_name}} </div> 
					<div class="userdetails">@{{username}}</div>
					<div class="userdetails">{{location}}</div>
					<div class="userdetails">{{joined_date}} </div>
				</div>
         </div>

				<div class="aboutme2">
                    <p>My name is Amoy Patterson. I am a smart and talented young woman who loves<span> website design and development.</span><span>Contact me if you'd like to work together on a new project </span></p>
					 <div id="followers">
                    <div class= "col-sm">
                    <ul style ="list-style-type:none">
                        <li class= 'follow'>
                            <span id='f1'>7</span>
                            <span id='f2'>100</span>
                            <span id='f3'>250</span>
                </li>

                <li class= "detail">
                    <span id= "d1">Posts</span>
                    <span id= "d2">Following</span>
                    <span id= "d3">Followers</span>
                </li>
             </ul>

           </div>
                        
                <div class = "center">
				<button type="button" class="btn btn-default" >Follow</button>
                </div>
                <br>
			</div>

		</div>
{% endblock %} 
    
   